.graphTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: inherit;
  height: inherit;
}

.graphTableCell {
  border: 1px;
  padding: 8px;
  width: inherit;
  height: inherit;
}
.graphTableHeader {
  border: 0px;
  padding: 8px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}
