.page {
  background-color: #585858;
  display: 'flex';
  justify-content: 'center';
  align-items: 'baseline';
  height: '100%';
  padding: '10px';
  /* display: block; */
}

.panels {
  position: relative;
  width: fit-content;
}

.panel {
  background-color: #00AACC;
  padding: 10px;
  position: relative;
  /* width: fit-content; */
  margin: 10px;
  text-align: left;
  font-size: large;
}

.panel label {
  padding: 10px;
  /* align-items: baseline; */
}

.favorite {
  text-align: left;
}

.notification-list {
  vertical-align: middle;
}