 .page {
  background-color: #585858;
  display: flex;
  justify-content: 'right';
  align-items: 'right';
  height: 100%;
  width: 100%;
  padding: 10px;
  display: flex;
} 

.graph {
  float: 'right';
  width: 100vmin;
  height: 100vmin;
  margin: 10px;
}

.tableAndButton {
  float: left;
  margin: 10px;
}

.table {
  overflow: hidden;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  margin-bottom: 10px;
}